body {
    background-color: #FFFFE0;/* warna kuning cerah */
    font-family:Arial, sans-serif;/* Jenis huruf yang bersih dan mudah di baca */
    color: #191970; /* Warna teks utama (Biru Gelap)
}

.kartu-profil {
  widht:300px;
  margin:50px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  padding :20px;
  background-color: white;
  border-radius: 15px; /* Membuat sudut menjadi melengkung */
  box-shadwon; 0 4px 8px rgba (0,0,0,0.1); */ efek bayangan */
  taxt-align:center;
}


.kartu profil img {
  width: 150px;
  border-radius:50%; 
}
